<a href="https://colab.research.google.com/github/codebysahil/PythonNotebooks/blob/main/Learning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
s = 'Hello'
print(s)
s1 = "Hello"
print(s1)
s2 = '''Hellos
I am here''' # for multi line strings with single triple inverted commas
s4 = """Triple and double inverted commas"""
print(s2)
print(s4)

Hello
Hello
Hellos
I am here
Triple and double inverted commas

In [ ]:
s3 ="it's raining outside"
print(s3)

it's raining outside

In [ ]:
name= str("John") # type conversion function
print(name)

John

In [ ]:
# Indexing
s = "hello world" # positive indexing
print(s[4])  # index error

o

In [ ]:
s1 = "negative Indexing" # negative indexing

print(s1[-4])

x

In [ ]:
# Slicing
s = "hello world"
print(s[0:5])
print(s[2:3])
print(s[2:])
print(s[:4])
print(s[0:6:2]) # hello / hlo
print(s[-1:6])

hello
l
llo world
hell
hlo

In [ ]:
k = "hello world"
print(k[-5:])
print(k[-1:-6:-1])

world
dlrow

In [ ]:
t = "hello world"
t[0] = "T"
print(t)
# Python strings are immutable that is it cannot be changed which implies you cannot edit the string

TypeError: 'str' object does not support item assignment

In [ ]:
q= "hello world"
print(q)
del(q)
# print(q)

hello world

In [ ]:
q= "hello world"
del(q[-1:2:2])
print(q)

TypeError: 'str' object does not support item deletion

In [ ]:
print('delhi' + 'Mumbai')

delhiMumbai

In [ ]:
print('delhi'+ ' ' "Gujrat")

delhi Gujrat

In [ ]:
print("delhi"*10)

delhidelhidelhidelhidelhidelhidelhidelhidelhidelhi

In [ ]:
'delhi' == 'Delhi'
'delhi' == 'delhi'
'mumbai' == 'delhi'

False

In [ ]:
'delhi' > 'abcde'

True

In [ ]:
'mumbai' > 'pune' # lexicographically comparison

False

In [ ]:
'Pune' > 'pune'

False

In [ ]:
'hello' and 'world' # True and True

'world'

In [ ]:
'hello' or 'world' # True or False

'hello'

In [ ]:
not ''

True

In [ ]:
not 'Hello'

False

In [ ]:
name = 'rocket'

for i in name:
  print(i)

r
o
c
k
e
t

In [ ]:
for i in 'name':
  print('pune')

pune
pune
pune
pune

In [ ]:
# Membership operators
'D' in 'delhi'

False

In [ ]:
'D' in 'Delhi'

True

In [ ]:
'D' not in 'delhi'

True

In [ ]:
print(len("hello world"))

11

In [ ]:
print(max("hello world")) # max value based on ascii

In [ ]:
print(min("hello world")) # min value based on the ascii

In [ ]:
print(sorted("hello world")) # return type is list and ordered in ascending order based on ascii values

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [ ]:
sorted("sahil", reverse=True)

['s', 'l', 'i', 'h', 'a']

In [ ]:
s = 'hEllo wWrld'
s.capitalize()

'Hello wwrld'

In [ ]:
p = ' this is a paragraph and i wILL apply title function on this '
p.title()

' This Is A Paragraph And I Will Apply Title Function On This '

In [ ]:
q = 'hi this is to test'
q.upper()

'HI THIS IS TO TEST'

In [ ]:
r = 'THISIISISKLASCLASLC'
r.lower()

'thisiisisklasclaslc'

In [ ]:
g = "This is TO tesT sWaPP Case"
g.swapcase()

'tHIS IS to TESt SwApp cASE'

In [ ]:
'my name is a testidng'.count('i')

2

In [ ]:
'my name is a testidng'.find('g') # returns the index

20

In [ ]:
name = 'nitish'
gender = 'male'
' Hi my name is {} and I am a {}'.format(name,gender)

' Hi my name is nitish and I am a male'

In [ ]:
name = input("Enter your name")
print(" Hello {}".format(name))

Enter your namebonki
 Hello bonki

In [ ]:
gt1 = 'nitish123%'
gt1.isalnum()

False

In [ ]:
gt = 'nitish23'
gt.isalnum()

True

In [ ]:
gt.isalpha()

False

In [ ]:
'1name'.isidentifier()

False

In [ ]:
name ='hi my name is nitish'.split()
print(name)

['hi', 'my', 'name', 'is', 'nitish']

In [ ]:
' -'.join(name)

'hi -my -name -is -nitish'

In [ ]:
" hi my name is nitish" .replace('nitishff','rohan')

' hi my name is nitish'

In [ ]:
webdevdata = "Hi this is a"
print(webdevdata)
webdevdata.strip()

Hi this is a

'Hi this is a'

In [ ]:
# Find the lenght of a string without using a reverse function
print("Enter a string")
name = input().strip()


counter =0
for i in name:
  counter = counter +1

print("The length of the strings is " + " " ,counter)
print(len(name))

Enter a string
rojajaja
The length of the strings is   8
8

In [ ]:
#Extract username from the given email
# for example nitish12Sigh3@gmail.com

email = "nitish12Sigh3@gmail.com"
email.split('@')

['nitish12Sigh3', 'gmail.com']

In [ ]:
email = "nitish12Sigh3@gmail.com"
email.find('@')

13

In [ ]:
email = "nitish12Sigh3@gmail.com"
pos = email.index('@')
print(email[:pos])

nitish12Sigh3

In [ ]:
# count the frequency of the particular chracter in  a string

Myname = input("enter your name")
term = input("What you like to search")
counter = 0
for u in Myname:
  if( u == term):
    counter = counter +1

print(counter)

enter your namerok
What you like to searchh
0

In [ ]:
# remove a particular chracter from a string

name = input("enter any string")
ele = input("enter the ele you want to remove")
result = ''
for i in name:
  if(i!= ele):
    result = result + r


print(result)

enter any stringsahil
enter the ele you want to removea
shil

In [2]:
d= dict()
d['a'] = 'test'
print(d)
print(type(d))

{'a': 'test'}
<class 'dict'>

In [5]:
records = {}
n = int(input("enter the number of students"))
i =1
while i<=n:
  roll_no = input("Enter the roll no for student {}".format(i))
  name = input("Enter the name for the student {}".format(i))
  records[roll_no] = name
  i = i+1

for x in records:
  print(records[x])
print('*'* 12)
for x in records:
  print(x)

enter the number of students4
Enter the roll no for student 112
Enter the name for the student 1rohan
Enter the roll no for student 213
Enter the name for the student 2sam
Enter the roll no for student 3115
Enter the name for the student 3jacky
Enter the roll no for student 4214
Enter the name for the student 4baja
rohan
sam
jacky
baja
************
12
13
115
214

In [8]:
d2 = {101:'ravi',102:'shiva',103:'mitwa'}
print(d2)
d2[103] = 'macmohan' # key is already available then old value will be updated
print(d2)

d2[104] = 'mitwan' # new key means new record will be added
print(d2)

{101: 'ravi', 102: 'shiva', 103: 'mitwa'}
{101: 'ravi', 102: 'shiva', 103: 'macmohan'}
{101: 'ravi', 102: 'shiva', 103: 'macmohan', 104: 'mitwan'}

In [9]:
# delete elements from the dictionary
# del operator is used
# del d[key]  if the key is already available , then total key and corresponding will be removed
del d2[104]
print(d2)

{101: 'ravi', 102: 'shiva', 103: 'macmohan'}

In [12]:
# if the key is not available then key error
del d2[104]

In [15]:
# to remove all the key value pair then  clear()

d2.clear()
print(d2)
d3 = {101: 'ravi', 102: 'shiva', 103: 'macmohan', 104: 'mitwan'}
print(d3)
del d3
# print(d3)

{}
{101: 'ravi', 102: 'shiva', 103: 'macmohan', 104: 'mitwan'}

In [18]:
l = ['durga','ravi','shami']
d ={101:[l]}
print(d)

{101: [['durga', 'ravi', 'shami']]}

In [19]:

d = dict([(100,'durga'),(200,'shiva'),(300,'mahesh')]) # dictionary as a list of tuples
print(d)

{100: 'durga', 200: 'shiva', 300: 'mahesh'}

In [20]:
d = dict(((100,'durga'),(200,'shiva'),(300,'mahesh'))) # dictionary as a tuple of tuples
print(d)

{100: 'durga', 200: 'shiva', 300: 'mahesh'}

In [21]:
d = dict({(100,'durga'),(200,'shiva'),(300,'mahesh')}) # dictionary as a set of tuples
print(d)

{200: 'shiva', 300: 'mahesh', 100: 'durga'}

Internally only tuples can be used that are hashable , list are not hashable

In [22]:
d = dict({[100,'durga'],[200,'shiva'],[300,'mahesh']}) # dictionary as a set of list objects
print(d)

TypeError: unhashable type: 'list'

In [28]:
d = dict({101:'first',102:'second',103:'third'})
len(d)
d.clear()

d.get(key) if key is not available then None
d.get(key,default value ) if key is not available then Default value

In [35]:
d = dict({101:'first',102:'second',103:'third'})
d.get(101) # key is available
print(d.get(1011,'not available')) # key is not available then none

print(d.get(500,'default value without keys'))
print(d.get(101,'not available'))

not available
default value without keys
first

In [40]:
d = dict({101:'first',102:'second',103:'third'})
print(d)
print(d.pop(101))
# print(d.pop(111)) # key error
print(d)

{101: 'first', 102: 'second', 103: 'third'}
first
{102: 'second', 103: 'third'}

In [42]:
d = dict({101:'first',102:'second',103:'third'})
print(d.popitem())
print(d.popitem())
print(d.popitem())
print(d.popitem())

(103, 'third')
(102, 'second')
(101, 'first')

KeyError: 'popitem(): dictionary is empty'

In [44]:
d = dict({101:'first',102:'second',103:'third'})
print(d.keys())

for i in d.keys():
  print(i)

dict_keys([101, 102, 103])
101
102
103

In [46]:
d = dict({101:'first',102:'second',103:'third'})
print(d.values())

for k in d.values():
  print(k)

dict_values(['first', 'second', 'third'])
first
second
third

In [48]:
d = dict({101:'first',102:'second',103:'third'})
print(d.items()) # list of tuples

for x in d.items():
  print(x)

dict_items([(101, 'first'), (102, 'second'), (103, 'third')])
(101, 'first')
(102, 'second')
(103, 'third')

In [51]:
d = dict({101:'first',102:'second',103:'third'})
for k,v in d.items():
  print(k,".....",v)

101 ..... first
102 ..... second
103 ..... third

In [ ]:
d = dict({101:'first',102:'second',103:'third'})

In [52]:
d1=d.copy()
print(d1)

{101: 'first', 102: 'second', 103: 'third'}

In [57]:
d2=dict()
d2[key] ='value'
print(d)

NameError: name 'key' is not defined

In [61]:
d = dict({101:'first',102:'second',103:'third'})
print(d.setdefault(101,'tested')) # no replacement
print(d.setdefault(100,'tested'))
print(d)

first
tested
{101: 'first', 102: 'second', 103: 'third', 100: 'tested'}

In [65]:
# update method
d1 ={800:'test',101:'Many'}
d = dict({101:'first',102:'second',103:'third'})
d.update(d1)
print(d)
print(d1)

{101: 'Many', 102: 'second', 103: 'third', 800: 'test'}
{800: 'test', 101: 'Many'}

In [68]:
# update method
d1 ={800:'test',101:'Many'}
d2 = {55:'A0',65:'B1'}
d = dict({101:'first',102:'second',103:'third'})
d.update(d1)
#d.update(d1,d2)
print(d)
print(d1)
d.update(d2)
print(d)

{101: 'Many', 102: 'second', 103: 'third', 800: 'test'}
{800: 'test', 101: 'Many'}
{101: 'Many', 102: 'second', 103: 'third', 800: 'test', 55: 'A0', 65: 'B1'}

https://www.youtube.com/watch?v=J-Lye2a3p-c&list=PL6X5MDnC9oqOrCtwCxo3VsVMbLpNW7SkK&index=36

Lecture 36 starts from here

In [71]:
#  print sum of values in a dictionary

k = {'a':000,'b':2000}
sum = 0
for v in k.values():
  sum = sum+v

print(sum)

2000

In [80]:
# number of occurrence of each letter present in the given string
word = input("Enter some word")
d = {}
for x in word:
   #print(x)
   d[x] = d.get(x,0)+1

for k,v in d.items():
  print(k," ",v)

for k,v in d.items():
  print("{} occurs {} times".format(k,v))

Enter some wordtest
t   2
e   1
s   1
t occurs 2 times
e occurs 1 times
s occurs 1 times

In [84]:
# number of occurrence of each letter present in the given string
word = input("Enter some word")
d = {}
for x in word:
   #print(x)
   d[x] = d.get(x,0)+1

for k,v in d.items():
  print(k," ",v)

for k,v in sorted(d.items()):
  print("{} occurs {} times".format(k,v))

Enter some wordzzxxxxyyymissiispiis
z   2
x   4
y   3
m   1
i   5
s   4
p   1
i occurs 5 times
m occurs 1 times
p occurs 1 times
s occurs 4 times
x occurs 4 times
y occurs 3 times
z occurs 2 times

In [86]:
# occurrence of no of vowels in a word ( a,e,i,o,u)
word = input("Enter some word")
vowels = {'a','e','i','o','u'}
d = {}
for x in word:
  if x in vowels:
   #print(x)
    d[x] = d.get(x,0)+1

for k,v in d.items():
  print(k," ",v)

for k,v in sorted(d.items()):
  print("{} occurs {} times".format(k,v))

Enter some wordteesta
e   2
a   1
a occurs 1 times
e occurs 2 times